# IDE
.idea/
.vscode/
*.iml
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/
venv/
__pycache__/
*.pyc

# Build
target/
build/
dist/
*.jar
*.war

# Environment
.env
.env.local

# Database
*.db
data/

# Logs
*.log
logs/

# Maven
java-backend/target/
java-backend/.mvn/
java-backend/mvnw
java-backend/mvnw.cmd

#Python
python-service/venv/
python-service/__pycache__/
python-service/**/__pycache__/
python-service/*.pyc
python-service/.env
python-service/chroma_db/